:root{
  --primary-light: #f4c694;
  --primary-dark: #664204;
  font-family: "Noto Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

*{box-sizing:border-box}
html,body{height:100%}
body{
  margin:0;
  background:var(--primary-light);
  color:var(--primary-light);
  line-height:1.4;
  -webkit-font-smoothing:antialiased;
}

h3 {
  font-size: 15px;
  margin: 0px;
}

h4 {
  font-size: 10px;
  margin: 0px;
}

.container, .site-header, .site-footer, .grid, .hero{
  position:relative;
  z-index:1;
}

.container{
  max-width:1100px;
  margin:0 auto;
  padding:24px;
}

.center_text {
    text-align: center;
}