:root{
  --primary-light: #f4c694;
  --primary-dark: #664204;
  font-family: "Noto Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

*{box-sizing:border-box}
html,body{height:100%}
body{
  margin:0;
  background:var(--primary-light);
  color:var(--primary-light);
  line-height:1.4;
  -webkit-font-smoothing:antialiased;
}

h2 {
  font-size: 20px;
  margin: 10px; 0px;
}

h3 {
  font-size: 12px;
  margin: 0px;
}

h4 {
  font-size: 10px;
  margin: 0px;
}

/* Для браузеров на основе WebKit (Chrome, Safari, Edge) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none; /* Можно добавить для гарантии */
}

/* Для Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="file"] {
  display: none;
}

.container, .site-header, .site-footer, .grid, .hero{
  position:relative;
  z-index:1;
}

.container{
  max-width:1100px;
  margin:0 auto;
  padding:24px;
}

.center_text {
    text-align: center;
}

.flex_column {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

.flex_centre {
  display: flex;
  justify-content: center; /* Центрирует по горизонтали */
  align-items: center;     /* Центрирует по вертикали */
  height: 100%;
}
