{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<header class="site-header">
    <div class="container header-inner">
      <div class="brand">
        <img src="/wood/static/image/wow.jpg" alt="warmth_of_wood" class="logo-img">
      </div>
    </div>
</header>

<main class="container">
    <section class="card" style="padding:18px;max-width:720px;margin:24px auto;">
      <h2 style="margin-top:0;">Добавить новое изделие</h2>
        <form method="POST" action="{{ url_for('create_product') }}" >
            <div style="display:flex;flex-direction:column;gap:10px;">
                <div>
                    <label for="title">Название:</label>
                    <input type="text" id="title" name="title" value="{{ product.title if product else '' }}" required>
                </div>
                <div>
                    <label for="describe">Описание:</label>
                    <textarea id="describe" name="describe" required>{{ product.describe if product else '' }}</textarea>
                </div>
                <div>
                    <label for="count">Количество:</label>
                    <input type="number" id="count" name="count" value="{{ product.count if product else 0 }}" required>
                </div>
                <div>
                    <label for="price">Цена:</label>
                    <input type="number" step="0.01" id="price" name="price" value="{{ product.price if product else 0.0 }}" required>
                </div>
                <div>
                    <label for="category_id">Категория:</label>
                    <select id="category_id" name="category_id" required>
                        {% for category in categories %}
                            <option value="{{ category.category_id }}" {% if product and product.category_id == category.category_id %}selected{% endif %}>
                                {{ category.title }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="images">Изображения:</label>
                    <input type="file" id="images" name="images" multiple accept="image/*">
                </div>
                <button type="submit">Сохранить</button>
            </div>
        </form>
    </section>
</main>

<footer class="site-footer">
<div class="container">
  <small>© <span id="year"></span>  warmth_of_wood</small>
</div>
</footer>
{% endblock %}

{% block scripts %}
  <script type="module" src="/wood/static/js/form.js"></script>
{% endblock %}



