{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<header class="header">
    <div class="header__inner container">
        <a class="header__brand" href="{{ url_for('read_root') }}">
          <span class="header__logo" role="img" aria-hidden="true"></span>
        </a>
</header>
<main class="container">
  <section class="product-form">
    <form method="POST" action="{{ url_for('create_product') }}" class="product-form__wrapper">
      <h1 class="product-form__title">Добавление изделия</h1>

      <div class="product-form__group">
        <label for="title" class="product-form__label">Название:</label>
        <input class="product-form__input" type="text" id="title" name="title"
               value="{{ product.title if product else '' }}" required>
      </div>

      <div class="product-form__group product-form__group--textarea">
        <label for="describe" class="product-form__label">Описание:</label>
        <textarea class="product-form__textarea" id="describe" name="describe" required>{{ product.describe if product else '' }}</textarea>
      </div>

      <div class="product-form__group">
          <span class="product-form__label">Уникальный товар:</span>

          <label class="product-form__radio">
            <input
              type="radio"
              name="unique"
              value="true"
              {% if product and product.unique %}checked{% endif %}
              required
            >
            Да
          </label>

          <label class="product-form__radio">
            <input
              type="radio"
              name="unique"
              value="false"
              {% if product and not product.unique %}checked{% endif %}
              required
            >
            Нет
          </label>
      </div>

      <div class="product-form__group">
        <label for="price" class="product-form__label">Цена:</label>
        <input type="number" step="0.01" class="product-form__input product-form__input--number"
               id="price" name="price"
               value="{{ product.price if product else 0.0 }}" required>
      </div>

      <div class="product-form__group">
        <label for="category_id" class="product-form__label">Категория:</label>
        <select id="category_id" name="category_id" class="product-form__select" required>
          {% for category in categories %}
          <option value="{{ category.category_id }}"
            {% if product and product.category_id == category.category_id %}selected{% endif %}>
            {{ category.title }}
          </option>
          {% endfor %}
        </select>
      </div>

      <div class="product-form__group">
        <span class="product-form__label">Фото:</span>

        <label for="images" class="product-form__file-btn">Выбрать…</label>
        <input type="file" id="images" name="images" multiple accept="image/*">

        <span id="imagesCount" class="product-form__file-count"></span>
      </div>

      <button type="submit" class="btn btn--primary product-form__submit">Сохранить</button>
    </form>
  </section>
</main>


{% endblock %}

{% block scripts %}
  <script type="module" src="/wood/static/js/form.js"></script>
{% endblock %}



